body {
  margin-top: 100px;
  font-family: 'PT Sans', sans-serif;
}
.navbar, .navbar.navbar-default {
    background-color: #001e92;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
}
.dropdown-menu {
  box-shadow: none;
  padding: 0px;
  margin: 2px 0 0;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  overflow: hidden;
}
.dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Main Banner*/

.main-banner {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 35px;
  padding: 20px 50px 50px 50px;
}

/*Wall*/

.default-wallbox {
  border-radius: 6px;
  box-shadow: 0 1px 1px 7px rgba(0, 0, 0, 0.10), 0 1px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.default-wallbox h1 {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}
/*Widget*/

.widget .title {
  font-size: 25px;
  margin-bottom: 20px;
}

/*Tabs*/

.nav-tabs {
    background: transparent;
    border: 0px;
    margin-bottom: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent !important;
  border: 0 !important;
  color: #2f2f2f !important;
  font-weight: 200;
  text-align: left;
  padding: 5px 10px 5px 0px;
  font-size: 18px;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: transparent !important;
    border: 0 !important;
    color: #2f2f2f !important;
    font-weight: 100;
    text-align: left;
    padding: 5px 10px 5px 0px;
    font-size: 18px;
}
.nav-tabs>li {
    text-align: left;
    padding: 0px;
}

/*Made-Item*/

.made-item {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}
